.App-logo {
  height: 40vmin;
  pointer-events: none;
}
:-ms-input-placeholder {
  color: gray !important; /* Internet Explorer 10-11 */
}
::-ms-input-placeholder {
  color: gray !important; /* Microsoft Edge */
}
::placeholder {
  color: gray !important; /* Firefox, Chrome, Opera */
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.pageTitle {
  color: #003366 !important;
  display: inline-block;
}
/* header footer css */
.logoNHAI {
  background: #003366;
  display: inline-block;
  min-height: 60px;
}
.NHAILogo {
  float: left;
  width: 50px;
  height: 45px;
  margin-left: 25px;
  margin-top: 8px;
  border: solid 1px #ffffff;
}
.NHAIText {
  color: #ffffff;
  float: left;
  margin: 15px;
  /* font-weight: bold; */
  font-size: 20px;
}

footer.text-center.footer {
  background: #002850;
  color: #ffffff;
  min-height: 50px;
  padding-top: 13px;
}

/* header footer css end */
/* login page css */
.loginContainer {
  margin: 0px !important;
  max-width: 99% !important;
  padding: 0px !important;
}

/* user list css */
.ULContainer {
  text-align: left;
}
.ULTable td {
  min-width: 150px;
  padding: 10px;
}
.ULTable {
  margin-top: 10px;
  margin-bottom: 20px;
}
.ULTable th {
  border-bottom: 1px solid #000000 !important;
  background: #ffffff !important;
  color: black !important;
  font-weight: bold !important;
  height: 40px !important;
  padding: 10px;
}

.ULTable
  .css-5ryogn-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked
  + .MuiSwitch-track {
  background-color: green !important;
  opacity: 1 !important;
}
.ULTable .css-5ryogn-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked {
  color: #ffffff !important;
}
.ULTable .css-jsexje-MuiSwitch-thumb {
  border: 1px solid black;
}
.ULTable .css-1yjjitx-MuiSwitch-track {
  background-color: #ff0000 !important;
  opacity: 1 !important;
}
.ULTable svg.svg-inline--fa {
  color: #84c0db !important;
}
.addUserBtnDiv {
  float: right;
  margin: auto;
  display: inline-block;
}

.plusIcon {
  font-size: 16px;
  color: #ffffff;
  margin-right: 5px;
}
/* .btn.addUser:hover .plusIcon {
  color: #ee1c25;
} */
.MenuIcon {
  font-size: 16px;
  color: #ffffff;
  margin-right: 5px;
}
.wrapper {
  margin-left: 200px;
  padding: 12px;
}

/* user list css end */

/* add user css */
.min {
  padding: 8px !important;
  min-width: 70px;
  border-radius: 3px !important;
}
.error {
  color: #ff0000;
}
/* add user css end */
/* User Details Css */
.UserDetails p strong {
  margin-right: 10px;
}
.BackBtn {
  border-color: #003366 !important;
  padding: 12px !important;
  min-width: 120px;
  border-radius: 4px !important;
  background-color: #003366 !important;
  border-color: #003366 !important;
  color: #ffffff !important;
  margin-right: 15px;
}

.BackBtn:hover {
  background-color: #ffffff !important;
  border-color: #003366 !important;
  color: #003366 !important;
}
.UDContainer {
  min-height: 500px;
}
.UDCoulmns {
  display: inline-block;
  margin-bottom: 15px;
}
/* user details css end */
/* Dashboard Css */
.tabs-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.nav-tabs-scroll {
  overflow-x: auto;
  flex-grow: 1;
}

.nav-tabs-scroll ul {
  list-style: none;
  padding: 0;
  margin: 0;
  white-space: nowrap;
}

.nav-tabs-scroll .nav-item {
  display: inline-block;
  margin-right: 10px;
}

.nav-tabs .nav-link {
  padding: 8px 16px;
}

.tab-content {
  margin-top: 20px;
}

/* figma css */
.logo {
  background: #ffffff;
  min-height: 60px;
  display: inline-block;
}

.headerLogo {
  width: 128px;
  height: 32px;
  float: left;
  margin-left: 70px;
  margin-top: 16px;
}

header {
  max-height: 60px;
  box-shadow: 0px 1px 5px 0px #00000029;
}

.lastLogin {
  color: #0070e0;
  float: right;
  margin: 15px;
  font-size: 14px;
  font-weight: 400;
}

.App {
  text-align: center;
  background: #f9f9f9;
}
body {
  font-family: Roboto !important;
}

.loginForm {
  margin: auto;
  max-width: 400px;
  text-align: left;
  padding: 40px 24px 72px 24px;
  background: #ffffff;
}

.loginBtn {
  background: #ff0000 !important;
  border: unset !important;
  border-radius: 3px !important;
  font-size: 14px !important;
  font-weight: 700 !important;
  padding: 12px 32px 12px 32px !important;
}

.addUser {
  border-color: #ff0000 !important;
  color: #ffffff !important;
  background-color: #ee1c25 !important;
  padding: 12px !important;
  min-width: 120px;
  border-radius: 4px !important;
}

/* .addUser:hover {
  background-color: #ff0000 !important;
  border-color: #ff0000 !important;
  color: #ffffff !important;
} */

.Cml-5 {
  margin-left: 5px !important;
}

/* siddhesh css */
.pageTitle {
  /* color: #003366 !important;
  display: inline-block; */
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 16px !important;
}
.loginForm label {
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}
.loginForm input {
  height: 48px;
  top: 34px !important;
  border-radius: 2px;
  border-width: 1px;
  border-color: #9f9f9f !important;
  font-size: 14px !important;
}
.pageInput::placeholder {
  padding-left: 16px !important;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #9f9f9f;
}
.text-danger {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  color: #eb2031 !important;
}
.signupInTxt a {
  color: #0070e0 !important;
}
.loginForm input:focus {
  border: 1px solid #0070e0 !important;
}

.snapTable th {
  min-width: 150px;
  border: 1px solid black;
  padding: 10px;
  background-color: #dfe7eb !important;
  font-size: 14px;
}

.snapTable td {
  border: 1px solid black;
  padding: 10px;
  align-items: center !important;
  font-size: 14px;
}
/* 22-9-23 as per figma  */

.AgeingTable th {
  min-width: 150px;
  border: 1px solid black;
  padding: 10px;
  font-size: 14px;
  background-color: #dfe7eb !important;
}
.AgeingTable td {
  border: 1px solid black;
  padding: 10px;
  font-size: 14px;
}
.ZoneTable th {
  /* min-width: 100px; */
  border: 1px solid black;
  padding: 5px;
  font-size: 14px;
  background-color: #dfe7eb !important;
}
.ZoneTable td {
  border: 1px solid black;
  padding: 9px;
  font-size: 14px;
}
.PIUTable th {
  min-width: 120px;
  border: 1px solid black;
  padding: 5px;
  font-size: 14px;
  background-color: #dfe7eb !important;
}
.PIUTable td {
  border: 1px solid black;
  padding: 9px;
  font-size: 14px;
}
.ROTable th {
  min-width: 60px;
  border: 1px solid black;
  padding: 5px;
  font-size: 14px;
  background-color: #dfe7eb !important;
}
.ROTable td {
  border: 1px solid black;
  padding: 9px;
  font-size: 14px;
}
.BankTable td {
  /* min-width: 300px; */
  min-width: 200px;
  padding: 10px;
  border: 1px solid black;

  font-size: 14px;
}
.BankTable th {
  padding: 10px;
  border: 1px solid black;
  font-size: 14px;
  background-color: #dfe7eb !important;
}

/* //-----------------varient css--------------------------------- */
.varient2 td {
  min-width: 200px;
  padding: 10px;
  border: 1px solid black;

  font-size: 14px;
}
.varient2 th {
  padding: 10px;
  border: 1px solid black;
  font-size: 14px;
  background-color: #0a82be !important;
  color: white;
}

.varient3 td {
  min-width: 200px;
  padding: 10px;
  border: 1px solid black;

  font-size: 14px;
}
.varient3 th {
  padding: 10px;
  border: 1px solid black;
  font-size: 14px;
  background-color: #ee1c25 !important;
  color: white;
}
/* -----------------button---------------------------- */

.varientb2 {
  border-color: black !important;

  color: black !important;
  background-color: #8ccff0 !important;
  padding: 12px !important;
  min-width: 120px;
  border-radius: 4px !important;
}

.varientb3 {
  border-color: black !important;
  color: black !important;
  background-color: #bec5c8 !important;
  padding: 12px !important;
  min-width: 120px;
  border-radius: 4px !important;
}

.varientb1 {
  border-color: black !important;
  color: black !important;
  background-color: #f89fa3 !important;
  padding: 12px !important;
  min-width: 120px;
  border-radius: 4px !important;
}
.css-1yybqq8-MuiButtonBase-root-MuiButton-root {
  border: 1 !important;
}
